### https://raw.github.com/github/gitignore/87bd07e50dd98527131a1f310b4e4915a5364cd7/Global/osx.gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### https://raw.github.com/github/gitignore/87bd07e50dd98527131a1f310b4e4915a5364cd7/Global/linux.gitignore

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### https://raw.github.com/github/gitignore/87bd07e50dd98527131a1f310b4e4915a5364cd7/Global/windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### https://raw.github.com/github/gitignore/87bd07e50dd98527131a1f310b4e4915a5364cd7/Global/LibreOffice.gitignore

# LibreOffice locks
.~lock.*#


### https://raw.github.com/github/gitignore/87bd07e50dd98527131a1f310b4e4915a5364cd7/Global/MicrosoftOffice.gitignore

*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*


